<% content_for :head do%>
<%= javascript_include_tag 'polling' %>
<%end%>
<body class =<% if(!signed_in?)%> "homepage-image-background" <%end%>>
	<div>
		<% if !(signed_in?)%>
		<%=render :template => "session/new"%>
		<% else %>
		<div class = "col-sm-offset-2 col-sm-7">
			<%= get_display_message( params[:controller], params[:query], params[:id] ,params[:search_topic] ) %>
		</div>
		<div class = "col-sm-offset-2 col-sm-7 hidden well" data-behavior= "questionsNotification">
			<span data-behavior="newQuestionCount"></span>
			<span><%=link_to "Click here to reload", url_for(params)%></span>
		</div>
		<div class = "col-sm-offset-2 col-sm-7" data-behavior= "questionsContainer" data-time= <%= @questions.first.published_at.to_i if @questions.first%> data-target= <%= new_question_loader_questions_path %> data-filterQuestionParams= "<%=params[:query]%>" data-filterTopicParams="<%= params[:id] || params[:search_topic]%>" >
			<% if @questions.blank?%>
        <h3><b>No questions found.</b></h3>  
			<%end %>
			<%= render @questions%>
			<%= will_paginate @questions, renderer: BootstrapPagination::Rails %>
		</div>
		<% end %>
	</div>
</body>