<%= link_to image_tag("upvote.gif", border: 0, class: 'small-dock-item'), upvote_comment_path( comment, format: :json), remote: true, data: {behavior: "upvoteSymbol"}, class: 'small-dock-item'	%>
<%= link_to image_tag("thumbsdown.png", border: 0, class: 'small-dock-item'), downvote_comment_path(comment, format: :json),remote: true, data: {behavior: "downvoteSymbol"}, class: 'small-dock-item'	%>
<p data-behavior = "voteCount">
	<small><span class = "text-success" data-behavior="upvoteCount">Upvotes: <%= comment.upvotes%> </span>&nbsp;
	<span class="text-warning" data-behavior="downvoteCount">Downvotes: <%= comment.downvotes%></span></small>
</p>
<span class="col-xs-6 col-sm-3" data-behavior="report_abuse_container">
	<%= link_to 'Report abuse', abuse_reports_path(abusable_type: comment.class, abusable_id: comment.id), method: :post, remote: true, data: {behavior: "abuse_report"} %>
</span>