<% content_for :head do%>
  <%= javascript_include_tag 'vote_counts' %>
<%end%>
<div class="answer-box">
	<p><%= simple_format answer.content %></p>
	
	<%= link_to image_tag("upvote.gif", border: 0, class: 'dock-item'), upvote_question_answer_path( answer.question, answer, format: :json), remote: true, data: {behavior: "upvoteSymbol"}, class: 'dock-item'	%>
	<%= link_to image_tag("thumbsdown.png", border: 0, class: 'dock-item'), downvote_question_answer_path(answer.question, answer, format: :json),remote: true, data: {behavior: "downvoteSymbol"}, class: 'dock-item'	%>
	<p data-behavior = "voteCount">
		<span class = "text-success" data-behavior="upvoteCount">Upvotes: <%= answer.upvotes%> </span>&nbsp;
		<span class="text-warning" data-behavior="downvoteCount">Downvotes: <%= answer.downvotes%></span>
	</p>
	<p class="text-right light-text">
		<small>Answered on: <strong><%= answer.created_at.to_formatted_s(:long_ordinal) %></strong></small> by <strong><%= answer.user ? answer.user.first_name : "user deleted"%>	</strong>
	</p>
</div>