<tr>
  <td><%=credit_transaction.id%></td>
  <td><%=credit_transaction.amount%></td>
  <td><%=credit_transaction.event%></td>
  <td><%=credit_transaction.resource_type%></td>
  <td><%=credit_transaction.resource_id%></td>
</tr>